<div class="sidebar sticky">
    <div itemscope itemtype="https://schema.org/Person">
        <div class="author__avatar">
            <img src="/assets/img/sidd.jpg" alt="Siddharth Karamcheti" itemprop="image">
        </div>

        <div class="author__content">
            <h3 class="author__name" itemprop="name">Siddharth Karamcheti</h3>
            <br>
            <p class="author__bio" itemprop="description">
                Resident at <a href="https://research.fb.com/category/facebook-ai-research/">FAIR</a> in New York and incoming PhD at <a href="https://cs.stanford.edu/">Stanford</a>
            </p>
        </div>

        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">Follow</button>
            <ul class="author__urls social-icons">

                <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
                    <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">New York, NY</span>
                </li>
                <li><br></li>
                <li><a href="https://twitter.com/siddkaramcheti" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                <li><a href="https://github.com/siddk" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
                <!--<li><a href="https://instagram.com/mmistakes" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li-->
            </ul>
        </div>
    </div>

</div>

