<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
    <div class="home">
        <div id="main" role="main">
            {% include header.html %}
            <main class="page-content" aria-label="Content">
                <div class="wrapper">
<!--                    <table>-->
<!--                    <tr>-->
<!--                        <td align="left" white-space="nowrap">-->
<!--                            <div style="font-weight:bold">-->
<!--                                First-year PhD Student in Computer Science at <a href="http://cs.stanford.edu">Stanford</a> <br/>-->
<!--                                Ex-Resident at <a href="https://ai.facebook.com/">Facebook AI Research (FAIR)</a>-->
<!--                            </div>-->
<!--                            <br/>-->
<!--                            <div>-->
<!--                                <i class="fas fa-fw fa-envelope" aria-hidden="true"></i> <a href='&#109;a&#105;l&#116;o&#58;&#115;karamc&#104;%65%74%69&#37;&#52;0cs%2&#69;&#115;%74%&#54;1&#110;f%6F%72&#100;&#46;e%64u'>&#115;karamc&#104;eti&#64;c&#115;&#46;sta&#110;&#102;&#111;rd&#46;e&#100;u</a> <br/>-->
<!--                                <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">Stanford, CA</span>-->
<!--                            </div>-->
<!--                            <br/>-->
<!--                            <div style="font-size: 24px">-->
<!--                                <a href="https://twitter.com/siddkaramcheti" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a>-->
<!--                                <span>&#183;</span>-->
<!--                                <a href="https://scholar.google.com/citations?user=L5v2PHAAAAAJ&hl=en" rel="nofollow noopener noreferrer"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a>-->
<!--                                <span>&#183;</span>-->
<!--                                <a href="https://www.linkedin.com/in/siddharthkaramcheti/" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-linkedin" aria-hidden></i></a>-->
<!--                                <span>&#183;</span>-->
<!--                                <a href="https://github.com/siddk" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>-->
<!--                                <span>&#183;</span>-->
<!--                                <a href="https://open.spotify.com/user/122498045?si=Sk1WWZReQ76XXmeFDHzlGQ" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-spotify" aria-hidden="true"></i></a>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td align="right"><img src="/assets/img/sidd.jpg" width="200px"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--                    <hr/>-->
                    {{ content }}
                </div>
            </main>

            {% include footer.html %}

        </div>
    </div>
</body>

</html>
